<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="row ml-1">
  <% case notification.action %>
    <% when 'approval' then %>
  <% else %>
  
  <div class="nav-image mr-2">
    <%= link_to image_tag(visitor.image.thmb300.to_s), user_path(visitor.id), data: {"turbolinks" => false} %>
  </div>
  
  <div class="mt-1">
    <div class="bold small">
      <%= link_to visitor.name, user_path(visitor.id), data: {"turbolinks" => false} %>
    </div>
    <div class="xxsmall gray">
      <%= visitor.catchphrase %>
    </div>
  </div>
  <% end %>
  
  <div class="small ml-3 d-flex align-items-end">
    <% case notification.action %>
      <% when 'follow' then %>
        にフォローされました！
        
      <% when 'like' then %>
        が【<%= link_to notification.post.title.truncate(26), post_path(notification.post), data: {"turbolinks" => false} %>】をお気に入りしました！
        
      <% when 'comment' then %>
        <% if notification.post.user_id == visited.id %>
          が【<%= link_to notification.post.title.truncate(26), comment_path(notification.post), data: {"turbolinks" => false} %>】
        <% else %>
          が【<%= link_to notification.post.title.truncate(26), comment_path(notification.post), data: {"turbolinks" => false} %>】
          <!--<%= notification.post.user.name + 'さんの投稿' %>-->
        <% end %>
        にコメントしました！
        
      <% when 'talkroom' then %>
          が【<%= link_to notification.post.title.truncate(26), member_path(notification.post), data: {"turbolinks" => false} %>】
        にコメントしました！
        
      <% when 'entry' then %>
        が【<%= link_to notification.post.title.truncate(26), post_path(notification.post), data: {"turbolinks" => false} %>】にエントリーしました！
      
      <% when 'approval' then %>
        【<%= link_to notification.post.title.truncate(26), post_path(notification.post), data: {"turbolinks" => false} %>】のメンバーに確定しました！
        
      <% when 'post' then %>
        がイベント【<%= link_to notification.post.title.truncate(26), post_path(notification.post), data: {"turbolinks" => false} %>】を作成しました！
        
      <% when 'cancel' then %>
        がイベント【<%= link_to notification.post.title.truncate(26), post_path(notification.post), data: {"turbolinks" => false} %>】をキャンセルしました。
        
      <% when 'evaluation' then %>
        がイベント【<%= link_to notification.post.title.truncate(26), post_path(notification.post), data: {"turbolinks" => false} %>】であなたを評価しました！
    <% end %>
  </div>
  
</div>
  
  <div class="gray xxsmall text-right">
    <i class="far fa-clock"></i><%= notification.created_at.strftime('%Y/%m/%d %H:%M') %>
  </div>
  
  <hr>
  