<div class="container">
  <% breadcrumb :signup %>
    <%= render "layouts/breadcrumbs" %>
  <div class="row">
    
    <div class="offset-md-3 col-md-6 mt-4">
      <p class="bold h5 mb-1 ml-1 text-center">Cocomelo 新規会員登録</p>
      <p class="text-center small">Cocomeloに会員登録いただくとイベントの参加・作成や、</br>
        会員機能を使用する事ができます！</br>
        登録はたったの2ステップ、1分でOK!!</p>

      <div class="bg-gray mb-5">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="form-group">
          <%= f.label :name, 'ユーザーネーム' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'パスワード' %><span class="xsmall">　※[半角英数字をそれぞれ1文字以上含んだ、6～12文字]</span>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        
        <div class="form-group small">
          <%= f.check_box :agreement, :as => :boolean, checked:false %>
              18歳未満ではありません。<%= link_to "利用規約", tos_path %>に同意する。
        </div>
        
        
        <div class="text-center mt-3">
          <%= f.submit '登録する', class: 'btn btn-info bold' %>
        
      <% end %>
      

      
      </div>
      </div>
    </div>
    
  </div>
</div>