<div class="container-middle mx-auto mb-5">
  <% breadcrumb :user, @user %>
    <%= render "layouts/breadcrumbs" %>
    
  <div class="row mt-4">
    <div class="col-lg-3 text-center">
      <div class="circle-image150">
        <%= image_tag @user.image.thmb300.url %>
      </div>
      
      <% if logged_in? %>
        <div class="mt-4">
          <%= render 'relationships/follow_button', user: @user %>
        </div>
      <% else %>
          <%= link_to "フォローする", login_path, class: "follow-btn mt-4" %>
      <% end %>
      
      
      <% user_evaluations = Evaluation.where(entry_id: @user.entries.ids) %>
      <% unless user_evaluations.count == 0 %>
      
        <% excellent_count = user_evaluations.count { |evaluation| evaluation.rating == 'excellent' } %>
        <% good_count = user_evaluations.count { |evaluation| evaluation.rating == 'good' } %>
        <% poor_count = user_evaluations.count { |evaluation| evaluation.rating == 'poor' } %>
        
        <div class="mt-2">
          <i class="far fa-laugh excellent"></i>
          <% if excellent_count == 0 %>
            -
          <% else %>
            <span class="medium"><%= ((excellent_count.to_f/user_evaluations.count) * 100).round(0) %>%</span>
          <% end %>
          
          <i class="far fa-smile good"></i>
          <% if good_count == 0 %>
            -
          <% else %>
            <span class="medium"><%= ((good_count.to_f/user_evaluations.count) * 100).round(0) %>%</span>
          <% end %>
          
          <i class="far fa-frown poor"></i>
          <% if poor_count == 0 %>
            -
          <% else %>
            <span class="medium"><%= ((poor_count.to_f/user_evaluations.count) * 100).round(0) %>%</span>
          <% end %>
        </div>
      <% end %>
      
    </div>
    
    <div class="col-lg-9">
      <div class=d-flex flex-row">
        <div class="bold h5 mt-2 mr-2">
          <%= @user.name %>
        </div>
        
        <div class="xsmall mt-3">
          <% unless @user.age == "default" and @user.address == "default" and  @user.sex == "default" %>【 <% end %>
          <% if @user.age != "default" %><%= @user.age_i18n %><% end %>
          <% if @user.age != "default" %>・<% end %>
          <% if @user.sex != "default" %><%= @user.sex_i18n %><% end %>
          <% if @user.age != "default" and @user.address != "default" and  @user.sex != "default" %>・<% end %>
          <% if @user.address != "default" %><%= @user.address_i18n %><% end %>
          <% unless @user.age == "default" and  @user.address == "default" and  @user.sex == "default" %> 】<% end %>
        </div>

      </div>
      
      <div class="small text-muted">
        <%= @user.catchphrase %>
      </div>
      <div class="mt-2 text-muted medium">
        <%= simple_format(@user.introduce) %>
      </div>
      
      <% if @user.hobby.present? %>
      <div class="mt-2 icon"><%= image_tag "icon_kirakira.png" %>趣味・好きなこと</div>
      <div class="text-muted medium">
        <%= @user.hobby %>
      </div>
      <% end %>
      
      <% unless @user == current_user %>
      <div class="gray mt-3 xxsmall text-right">
        <%= link_to user_report_path do %>
          <span class="gray"><i class="fas fa-exclamation-circle"></i></span>
           不適切なユーザーの報告
        <% end %>
      </div>
      <% end %>
      
      
      



    </div>

  
  </div>
  
  
  <% if logged_in? %>
    <% if current_user.admin? %>
    <hr>
      <div class="mt-3 bold">
        投稿一覧
      </div>
      
      <div class="table-responsive">
    　　<table class="table table-condensed table-striped table table-bordered">
    　　  <thead>
            <tr>
                <th>id</th>
                <th>イベントタイトル</th>
                <th>イベント日</th>
                <th>エントリー数</th>
            </tr>
          </thead>
    　　  <tbody>
    　　  <% @user.posts.published.order(id: :desc).page(params[:page]).per(20).each do |post| %>
    　　    <tr>
                <td><%= link_to "#{post.id}", post_path(post.id) %></td>
                <td><%= link_to "#{post.title}", post_path(post.id) %></td>
                <td><%= post.event_schedule.strftime('%Y/%m/%d') %></td>
                <td><%= post.entries.includes(:entries).where.not(user_id: post.user_id).count %></td>
            </tr>
          <% end %>
    　　  </tbody>
    　　</table>
      </div>
      
      <div class="pagination justify-content-end pagination-sm">
        <%= paginate @user.posts.published.order(id: :desc).page(params[:page]).per(20) %>
      </div>
    <% end %>
  <% end %>
  
</div>
