  <div class="container">
    
    <% if @search_word.present? %>
      <p class="h4 bold mt-4"><i class="fas fa-search mr-2"></i>【<%= @search_word %>】のプラン　<span class="small"><%= @posts.count %>件</span></p>
    <% else %>
      <p class="h4 bold mt-4"><i class="fas fa-search mr-2"></i>すべてのイベント　<span class="small"><%= @post.count %>件</span></p>
    <% end %>
    
    <div class="row row-0 mt-2">
      <% @posts.each do |post| %>
      <div class="col-sm-3 mt-3">
        <div class="category pr-1 pl-1">
          <%= link_to image_tag(post.image.thmb300.to_s), post_path(post), data: {"turbolinks" => false} %>
        </div>
        
        <p class="small bold mt-2 mb-0 pr-1 pl-1"><%= link_to post.title.truncate(42), post_path(post), data: {"turbolinks" => false} %></p>
        
        <div class="tag1 xsmall bold mt-2">
          <%= link_to post.category.name, category_path(post.category.id) %>
        </div>
        
        <% post.destinations.each do |destination| %>
          <% if destination.area.present? %>
            <div class="tag1 xsmall bold mt-1">
              <%= destination.area %>
            </div>
          <% end %>
        <% end %>
        
        <div class="top-user mt-2 web-gray xsmall">
            <i class="far fa-clock"></i><%= post.updated_at.strftime('%Y/%m/%d') %>
        </div>
      </div>
      <% end %>
    </div>
  
    <div class="pagination justify-content-end pagination-sm mt-3">
      <%= paginate @posts %>
    </div>
    
  </div>