<% set_meta_tags title: @post.title, description: @post.content %>
<div class="container-fluid">
  <% breadcrumb :post, @post %>
    <%= render "layouts/breadcrumbs" %>
    
  <div class="row mb-5">
    <div class="web_container mt-4 offset-sm-1 col-sm-7">
      <div class="gray">
        <i class="far fa-clock"></i><%= @post.updated_at.strftime('%Y/%m/%d') %>
      </div>
      
      <div class="mt-1 bb1">
        <h1><%= @post.title %></h1>
      </div>
      
      <div class="ps-image mt-2">
        <% if @post.image? %>
          <%= image_tag @post.image.url %>
        <% end %>
      </div>
      
      <div class="tag1 small bold mt-2">
        <%= link_to @post.category.name, category_path(@post.category.id) %>
      </div>
      
      <%= render partial: 'tags', locals: { tags: @post.tags } %>
      
      <div class="d_container mt-3">
        <div class="text-center">
          イベント詳細
        </div>
        
        <% if @post.event_schedule.present? %>
          <% date = @post.event_schedule.to_s(:date) %>
          <% weekday = %w[日 月 火 水 木 金 土] %>
            <div class="bold ml-1">
              <i class="far fa-calendar-alt"></i> <%= @post.event_schedule.to_s(:date) %>（<%= weekday[Date.parse(date).wday] %>）<%= @post.event_schedule.to_s(:time) %>
            </div>
        <% end %>
        
        <% @destinations.each do |destination| %>
        <div class="row">
          <div class="bold ml-3">
            ◆ <%= destination.name %>
          </div>
          
          <% if destination.area.present? %>
          <div class="ml-4 xsmall btn1 bold">
            <%= destination.area %>
          </div>
          <% end %>
        </div>
        
        <div class="destination_detail mb-2 ml-1">
        <% if destination.address.present? %>
          <div class="small">
            <i class="fas fa-map-marker-alt"></i> <%= destination.address %>
          </div>
        <% end %>
          
        <% if destination.link.present? %>
          <div class="small">
            <i class="fas fa-link"></i>
            <%= text_url_to_link(h(destination.link)).html_safe %>
          </div>
        <% end %>
        
        </div>
        
          
        <% end %>
        
        <div class="row">
          <div class="btn1 small bold ml-3">
            <%= @post.sex_i18n %>
          </div>
          
          <% if @post.member != "default" %>
          <div class="btn1 small bold ml-1">
            <%= @post.member_i18n %>募集
          </div>
          <% end %>
          
          <% if @post.payment != "default" %>
          <div class="btn1 small bold ml-1">
            <%= @post.payment_i18n %>
          </div>
          <% end %>
          
          <% if @post.budget != "default" %>
          <div class="btn1 small bold ml-1">
            <%= @post.budget_i18n %>
          </div>
          <% end %>
          
          
        </div>


      </div>
      
      <div class="mt-3 ml-3 mr-2">
        <%= simple_format(@post.content) %>
      </div>
      
      
      <% if @post.cancel.present? %>
        <div class="text-center mt-3 bold text-primary">
          このイベントはキャンセルされました
        </div>
        <% if @post.cancel != "default" %>
        <div class="text-center mt-1 mb-3">
          【キャンセル理由：<%= @post.cancel_i18n %>】
        </div>
        <% end %>
          
      <% else %>

      <div class="flex-center">
        
        <% dt1 = Time.zone.now %>
        <% dt2 = Time.zone.parse(@post.dead_line.to_s) %>
        <% diff = dt2 - dt1 %>
        <% s = diff % 60 %>
        <% m = ((diff - s) / 60) % 60 %>
        <% h = ((diff - s - m * 60) / (60 ** 2)) % 24 %>
        <% d = ((diff - s - m * 60 - h * 60 ** 2) / (60**2 * 24)) %>
        
        <% if d.to_i < 0 or @post.draft? %>

        <% else %>
          <%= render 'entries/entry_button', post: @post %>
        
          <div class="">
            <%= render 'favorites/like_button', post: @post %>
          </div>
        
        <% end %>
      </div>
      
      <div class="mt-1">
          <div class="flex-center mb-3">
          <% if @post.dead_line.present? %>
            <% date = @post.dead_line.to_s(:date) %>
            <% weekday = %w[日 月 火 水 木 金 土] %>
            
            <div class="">
  
              <% dt1 = Time.zone.now %>
              <% dt2 = Time.zone.parse(@post.dead_line.to_s) %>
              <% diff = dt2 - dt1 %>
              <% s = diff % 60 %>
              <% m = ((diff - s) / 60) % 60 %>
              <% h = ((diff - s - m * 60) / (60 ** 2)) % 24 %>
              <% d = ((diff - s - m * 60 - h * 60 ** 2) / (60**2 * 24)) %>
              
              <% if d.to_i == 0 and h.to_i > 0 %>
              <i class="far fa-clock"></i>
              残り<%= h.to_i %>時間
              <% elsif d.to_i == 0 and h.to_i == 0 %>
              <i class="far fa-clock"></i>
              もうすぐ終了！
              <% elsif d.to_i < 0 %>
              <div class="end">
              <i class="far fa-clock"></i>
              募集は終了しています
              </div>
              <% else %>
              <i class="far fa-clock"></i>
              残り<%= d.to_i %>日
              <% end %>
            </div>
              
            <div class="xsmall ml-3 mt-1 gray">
              <% if d.to_i < 0 %>
              <% else %>
              <%= @post.dead_line.to_s(:date) %>（<%= weekday[Date.parse(date).wday] %>）<%= @post.dead_line.to_s(:time) %>まで
              <% end %>
            </div>
              
      
          <% end %>
          </div>
          
          <% @entry_users.each do |user| %>
            <% if user.user == current_user %>
              <% unless user.entry_status == "approval" %>
                <% if d.to_i < 0 or @post.draft? %>
                  <div class="text-center text-info">

                  </div>
                <% else %>
                  <div class="text-center text-info">
                    メンバー承認待ちです☺
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>


        <% @users.each do |user| %>
          <% if user.user == current_user %>
            <% if user.user == @post.user %>
            <% else %>
              <div class="text-center text-success">
                メンバーに確定しました☺
              </div>
            <% end %>
          <div class="text-center bold mb-3">
            <%= link_to "メンバートークルーム", member_path(@post), class: "btn btn-success" %>
          </div>
          <% end %>
        <% end %>
        
        <% if logged_in? %>
          <% if d.to_i < 0 and @post.user_id == current_user.id %>
            <div class="text-center mb-3 mr-3">
              <%= link_to "エントリー #{@post.entries.where.not(user_id: @post.user_id).count}件", entry_page_path, class: "btn btn3" %>
            </div>
          <% end %>
        <% end %>
        
        <% if logged_in? %>
          <% if current_user == @post.user || current_user.admin? %>
            <div class="text-right small mb-1 link1">
              <%= link_to "イベントをキャンセル", cancel_path, class: "" %>
            </div>
          <% end %>
        <% end %>
        
      </div>
      <% end %>
      
      <div class="bb2 mb-3 mt-3"></div>
      
      <div class="bold">
        <i class="far fa-smile"></i> コメント<span class="small bold ml-2"><%= @count_comments %> 件</span>
      </div>
      
      <% if @count_comments == 0 %>
        <div class="text-center mb-3">
          <%= link_to  comment_path, class: 'btn btn-info' do %>
          <i class="far fa-comment"></i>
          <span> コメントする</span>
          <% end %>
        </div>

      <% else %>
      
      <% @comments.each do |comment| %>
        <div class="comment web-flex mt-2">
          <div class="mt-2">
            <%= link_to image_tag(comment.user.image.thmb300.url), user_path(comment.user) %>
          </div>
          
          <div class="ml-2">
            <div class="bold small">
              <%= link_to comment.user.name, user_path(comment.user) %>
            </div>

            <div class="comme bold medium">
              <%= simple_format(comment.content) %>
            </div>

            <div class="xsmall ml-1">
              <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
            </div>
          </div>
          
        </div>
        <hr>
      <% end %>
      
      <div class="text-right bold mb-3">
        <%= link_to "全てのコメントを見る　＞", comment_path %>
      </div>
      
      <% end %>
      
      <div class="bb2 mb-3"></div>
      
      <% unless @post.user == current_user %>
      <div class="gray mt-3 xxsmall text-right">
        <%= link_to post_report_path do %>
          <span class="gray"><i class="fas fa-exclamation-circle"></i></span>
           不適切な投稿の報告
        <% end %>
      </div>
      <% end %>
        
    </div>
    
    <div class="container_right col-sm-3 mt-4">
      
      <% if logged_in? %>
        <% if current_user == @post.user || current_user.admin? %>
          <% if @post.cancel.present? %>
            <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除してもいいですか？" }, class: 'btn btn-danger btn-sm' %>
          <% else %>  
          <div class="plan_edit text-center">
          <%= link_to "イベントを編集", edit_post_path, data: {"turbolinks" => false}, class: 'btn btn-primary btn-sm' %>
          <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除してもいいですか？" }, class: 'btn btn-danger btn-sm' %>
          </div>
          <% end %>
        <% end %>
      <% end %>
      
      <div class="introduce mt-3">
          
          <div class="row row-0 text-center mb-3">
            
            <div class="col-lg-6 mt-1">
              <%= link_to image_tag(@post.user.image.thmb300.url), user_path(@post.user) %>
            </div>
            
            <div class="col-lg-6 mt-1">
              <% if current_user == @post.user %>
                <div class="mt-3 medium bold">
                  <%= link_to @post.user.name, user_path(@post.user),:style=>"color:black;" %>
                </div>
                  <div class="xxsmall gray">
                    <% unless @post.user.age == "default" and @post.user.address == "default" and  @post.user.sex == "default" %>【 <% end %>
                    <% if @post.user.age != "default" %><%= @post.user.age_i18n %><% end %>
                    <% if @post.user.age != "default" %>・<% end %>
                    <% if @post.user.sex != "default" %><%= @post.user.sex_i18n %><% end %>
                    <% if @post.user.age != "default" and @post.user.address != "default" and  @post.user.sex != "default" %>・<% end %>
                    <% if @post.user.address != "default" %><%= @post.user.address_i18n %><% end %>
                    <% unless @post.user.age == "default" and  @post.user.address == "default" and  @post.user.sex == "default" %> 】<% end %>
                  </div>
                  <div class="small gray bold mt-1"><%= @post.user.catchphrase %></div>
              <% else %>
                <div class="">
                  <%= link_to @post.user.name, user_path(@post.user),:style=>"color:black;" %>
                </div>
                <div class="xxsmall gray mt-1">
                  <% unless @post.user.age == "default" and @post.user.address == "default" and  @post.user.sex == "default" %>【 <% end %>
                  <% if @post.user.age != "default" %><%= @post.user.age_i18n %><% end %>
                  <% if @post.user.age != "default" %>・<% end %>
                  <% if @post.user.sex != "default" %><%= @post.user.sex_i18n %><% end %>
                  <% if @post.user.age != "default" and @post.user.address != "default" and  @post.user.sex != "default" %>・<% end %>
                  <% if @post.user.address != "default" %><%= @post.user.address_i18n %><% end %>
                  <% unless @post.user.age == "default" and  @post.user.address == "default" and  @post.user.sex == "default" %> 】<% end %>
                </div>
                <div class="small gray bold mt-1"><%= @post.user.catchphrase %></div>
              <% end %>  
              
              <% if logged_in? %>
                <%= render 'relationships/follow_button_other', post: @post %>
              <% else %>
                <%= link_to "フォローする", login_path, class: "follow-btn mt-2" %>
              <% end %>
            </div>
            
          </div>
          
          <% if current_user == @post.user %>
            <p class="xsmall mt-3"><%= @post.user.introduce %></p>
          <% else %>
            <p class="xsmall"><%= @post.user.introduce %></p>
          <% end %>
        </div>
        
        <div class="flex text-center">
          <div class="mt-2">
            <a href="https://timeline.line.me/social-plugin/share?url=?<%= request.url %>" rel="nofollow" target="_blank"><i class="fab fa-line fa-2x lineicon", title="LINEでシェア"></i></a>
            <a href="https://twitter.com/share?url=<%= request.url %>&text=<%= @post.title %>" rel="nofollow" target="_blank"><i class="fab fa-twitter-square fa-2x twicon", title="twitterでシェア"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.url %>" rel="nofollow" target="_blank"><i class="fab fa-facebook-square fa-2x fbicon", title="facebookでシェア"></i></a>
          </div>
        </div>
        
        <p class="top_index h5 bold mt-3 mb-0"><%= image_tag "icon_new.png" %>新着のイベント</p>
        
        <% @posts.each do |post| %>
          <div class="side-postimage mt-2">
            <div class="poston">
              <% if post.image? %>
                <%= link_to image_tag(post.image.thmb300.to_s), post_path(post) %>
                <p><span class="tag1 bold xsmall">
                  <%= link_to post.category.name, category_path(post.category.id) %>
                  </span>
  
                  <% post.destinations.each do |destination| %>
                    <% if destination.area.present? %>
                    <span class="tag1 bold xsmall pl-1">
                        <%= destination.area %>
                    </span>
                    <% end %>
                  <% end %>
                </p>
              <% else %>
                <%= link_to image_tag("default_post.jpg"), post_path(post), data: {"turbolinks" => false} %>
                <p><span class="tag1 bold xsmall">
                  <%= link_to post.category.name, category_path(post.category.id) %>
                  </span>
  
                  <% post.destinations.each do |destination| %>
                    <% if destination.area.present? %>
                    <span class="tag1 bold xsmall pl-1">
                        <%= destination.area %>
                    </span>
                    <% end %>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
          
          <div class="xsmall bold mt-2">
            <%= link_to post.title.truncate(26), post_path(post), data: {"turbolinks" => false} %>
          </div>
          
          <div class="small pr-1 pl-1 mt-1">
            <% date = post.event_schedule.to_s(:date) %>
            <% weekday = %w[日 月 火 水 木 金 土] %>
            <div class="bold">
              <i class="far fa-calendar-alt"></i> <%= post.event_schedule.to_s(:date) %>（<%= weekday[Date.parse(date).wday] %>）<%= post.event_schedule.to_s(:time) %>
            </div>
          </div>
          
          <% post.destinations.each do |destination| %>
            <div class="bold small pr-1 pl-1 mt-1">
              <i class="fas fa-map-marker-alt"></i> <%= destination.name %>
            </div>
          <% end %>
          
          <div class="row ml-1 mr-1 mt-1">
            <div class="btn1 xsmall mt-1 bold mr-1">
              <%= post.sex_i18n %>
            </div>
            
            <% if post.member != "default" %>
            <div class="btn1 xsmall mt-1 bold mr-1">
              <%= post.member_i18n %>募集
            </div>
            <% end %>
            
            <% if post.payment != "default" %>
            <div class="btn1 xsmall mt-1 bold mr-1">
              <%= post.payment_i18n %>
            </div>
            <% end %>
            
            <% if post.budget != "default" %>
            <div class="btn1 xsmall mt-1 bold mr-1">
              <%= post.budget_i18n %>
            </div>
            <% end %>
          </div>
          
          <% if post.cancel.present? %>
            <div class="mt-2 gray xsmall xsmall-tb">
              キャンセルされました
            </div>
          <% else %>
          <div class="mt-2 gray xsmall xsmall-tb">
            <% dt1 = Time.zone.now %>
            <% dt2 = Time.zone.parse(post.dead_line.to_s) %>
            <% diff = dt2 - dt1 %>
            <% s = diff % 60 %>
            <% m = ((diff - s) / 60) % 60 %>
            <% h = ((diff - s - m * 60) / (60 ** 2)) % 24 %>
            <% d = ((diff - s - m * 60 - h * 60 ** 2) / (60**2 * 24)) %>
            
            <% if d.to_i == 0 and h.to_i > 0 %>
              <i class="far fa-clock"></i>
              残り<%= h.to_i %>時間
            <% elsif d.to_i == 0 and h.to_i == 0 %>
              <i class="far fa-clock"></i>
              もうすぐ終了！
            <% elsif d.to_i < 0 %>
              <i class="far fa-clock"></i>
              募集は終了しています
            <% else %>
              <i class="far fa-clock"></i>
              残り<%= d.to_i %>日
            <% end %>
          </div>
          <% end %>
          
        <% end %>
        
        <div class="text-right mt-3 xsmall bold">
          <%= link_to "新着のイベントをもっと見る　＞", new_arrival_path %>
        </div>
        
    </div>
    
    
    
    
  </div>
</div>