
  <div class="circle-image150">
    <%= image_tag @user.image.thmb300.url %>
  </div>
  <div class="mt-2 bold">
    <%= @user.name %>
  </div>
  <div class="mt-3 bold">
    <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
  </div>
  
  <Hr Width="75%">
    
  <div class="mypage-ul text-left pl-5 bold">
    <ul>
      <li><%= link_to 'マイページ', mypage_path %></li>
      <li><%= link_to 'マイプロフィール', user_path(@user) %></li>
      <li><%= link_to '投稿したイベント', user_posts_path(@user) %></li>
      <li><%= link_to '下書き編集', confirm_posts_path %></li>
      <li><%= link_to 'エントリー済み', entries_user_path(@user) %></li>
      <li><%= link_to '参加したイベント', participateds_user_path(@user) %></li>
      <li><%= link_to 'お気に入り', favorites_user_path(@user) %></li>
      <li><%= link_to 'お知らせ', informations_path %></li>
      <li><%= link_to "フォロー/フォロワー", followings_user_path(@user) %></li>
      <li><%= link_to "アカウント情報変更", account_edit_path(current_user) %></li>
      
      <% if current_user.admin? && !(current_user == User) %>
        ----------------
        <li><%= link_to "管理ページ", admin_users_path %></li>
        <li><%= link_to "お知らせ投稿", new_information_path %></li>
        <li><%= link_to "メールマガジン投稿", new_newsletter_path %></li>
        <li><%= link_to 'メールマガジン', newsletters_path %></li>
        <li><%= link_to "通報されたユーザー", user_reports_path %></li>
        <li><%= link_to "通報された投稿", post_reports_path %></li>
        <li><%= link_to "退会申請", quits_path %></li>
        
      <% end %>
      
    </ul>
  </div>
  