<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      
      <a class="navbar-brand logo" href="/"><%= image_tag "logo.svg" %></a>

      <div class="navbar-nav mr-auto form-group form-inline">
        <%= form_with(url: search_path, method: :get, local: true) do |f| %>
          <div class="input-group">
            <%= f.text_field :search, value: params[:search], placeholder: "キーワードで検索", class: 'form-control' %>
            <span class="input-group-btn">
              <%= button_tag '<i class="fas fa-search"></i>'.html_safe, :type => "submit", :class =>"btn btn-search", :style => "color:white;" %>
            </span>
          </div>
        <% end %>
      </div>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <% if logged_in? %>
        <span class="d-none d-lg-block">
          <div class="nav-image">
            <%= image_tag(current_user.image.thmb300.url) %>
          </div>
        </span>
        <% else %>
          <span class="navbar-toggler-icon"></span>
        <% end %>
      </button>
      
      
      <div class="d-lg-none">
        <ul class="list-unstyled">
          <% if logged_in? %>
            <li class="nav-icon nav-item dropdown">
                <a href="#" data-toggle="dropdown"><%= image_tag current_user.image.thmb300.url %></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <%= link_to new_post_path ,class: "dropdown-item small" do %>
                      <i class="fas fa-pen-square mr-1"></i>イベント作成
                    <% end %>
                    <%= link_to mypage_path ,class: "dropdown-item small" do %>
                      <i class="far fa-id-card mr-1"></i>マイページ
                    <% end %>
                    <%= link_to user_path(current_user) ,class: "dropdown-item small" do %>
                      <i class="fas fa-user-circle mr-1"></i>マイプロフィール
                    <% end %>
                    <%= link_to logout_path ,class: "dropdown-item small", method: :delete do %>
                      <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
                    <% end %>
                  </ul>
            </li>
          <% end %>
        </ul>
      </div>
      
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          
          <% if logged_in? %>

            <li class="nav-image nav-item dropdown mr-3 d-none d-lg-block mt-1">
                <a href="#" data-toggle="dropdown"><%= image_tag current_user.image.thmb300.url %></a>
              <ul class="dropdown-menu dropdown-menu-right">
                
                <%= link_to mypage_path ,class: "dropdown-item small" do %>
                  <i class="far fa-id-card mr-1"></i>マイページ
                <% end %>
                <%= link_to user_path(current_user) ,class: "dropdown-item small" do %>
                  <i class="fas fa-user-circle mr-1"></i>マイプロフィール
                <% end %>
                <%= link_to logout_path ,class: "dropdown-item small", method: :delete do %>
                  <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
                <% end %>
                
                <!--<li class="dropdown-item small"><i class="far fa-id-card mr-1"></i><%= link_to 'マイページ', mypage_path %></li>-->
                <!--<li class="dropdown-item small"><i class="fas fa-user-circle mr-1"></i><%= link_to 'マイプロフィール', user_path(current_user) %></li>-->
                <!--<li class="dropdown-item small"><i class="fas fa-sign-out-alt mr-1"></i><%= link_to 'ログアウト', logout_path, method: :delete %></li>-->
              </ul>
            </li>
            

            <li class="nav-item btn btn-sm btn-plan small d-none d-lg-block"><%= link_to new_post_path, data: {"turbolinks" => false}, class: 'nav-link',:style=>"color:white;" do %><%= image_tag "icon-event.png" %>イベント作成<% end %></li>
          <% else %>
            
            
            <%= link_to login_path do %>
              <div class="navi mt-3 mr-2 medium">
                <i class="fas fa-user"></i> ログイン
              </div>
            <% end %>
    
            <%= link_to signup_path do %>
              <div class="navi mt-3 mr-2 medium">
                <i class="far fa-smile-wink mr-1"></i>会員登録(無料)
              </div>
            <% end %>
            
            <li class="nav-item btn btn-sm btn-plan mt-1"><%= link_to login_path, class: 'nav-link',:style=>"color:white;" do %><%= image_tag "icon-event.png" %>イベント作成<% end %></li>
          <% end %>
        </ul>
      </div>
      
      
    </div>
  </nav>
</header>